.App {
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
